/*
#373737 quase preto
#555555 cinza escuro
#818181 cinza medio
#a1a1a1 cinza claro
#c0c0c0 cinza clarinho
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 1200px;
    margin: auto;
    
}

body{
    background-color:#818181 ;
}

header{
    background-color:#373737;
    color:#ffffff;
    padding:15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    font-size: 2em;
    font-weight:bold ;
}

nav ul{
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.banner{
    background: url(../img/banner.jpg) no-repeat center/cover;
    height: 750px; 
    display: flex;
    margin-top: 106px;
    align-items:center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.8em;
    text-align: left;
    text-shadow: 4px 2px  black;
}

.titulobanner{
    margin-left: 20px;
}

section{
    scroll-margin-top: 100px;
}


#sobre{
    padding: 35px;
    background-color:#818181  ;
    color: #fff;
}

.sobre-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}

.sobre-texto{
    flex: 1;
    padding: 20px;
}

.sobre-texto h1{
    font-size: 1.8em;
    margin-bottom: 20px;
    color: black;
}

.sobre-texto p {
    font-size: 1;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}

.sobre-texto h2{
    margin-top: 20px;
    color: black;

}

.sobre-texto a{
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8em;
}

.fonte{
    font-size: 0.8em ;
}

.hex-grid{
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}

.hex{
    width: 140px;
    height: 120px;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    overflow: hidden;
    background-color:#a1a1a1 ;
    position: relative;
}

.hex img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}









#curiosidades{
    padding: 35px;
    background-color:#818181  ;
    color: #fff;
    
}

.curiosidade-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}

.galeria h1{
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;

}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 4fr));
    gap:20px ;
    max-width: 1000px;
    margin:auto;

}

.galeriaimg{
    width: 100%;
    
    border-radius: 10px  black;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    
    transition: transform 0.3s ease; 
}




#personagens .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    padding: 50px 0;
    margin: auto;
}

#personagens h1{
    font-size: 2;
    line-height: 1.8;
    text-align: center;
    margin-top: 10px;
}

#personagens .item{
    background-color: darkgray;
    border:#373737;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    padding: 20px;
}

#personagens .item:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#personagens .item:active{
    transform: scale(0.98);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

#personagens .item p{
    margin-top: 15px;
    font-size: 0.95em;
}

#personagens .item img{
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contentcaio{
    padding:  0 0 70px 0;
}

.contentdjonga{
    padding: 0 0 38px 0;
}

.contentpuma{
    padding: 0 0 3px 0;
}

.contentsono{
    padding: 0 0 88px 0;
}

.contentracionais{
    padding: 0 0 50px 0;
}


.card{
    background: rgb(125, 125, 124);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: auto;
    text-align: center;
    
}

.card h3{
    margin-top: 0;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #007bff;
    color:white;
    text-decoration: none;
    cursor: pointer;
}


/* modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    margin-top: 45px;
}

.modal:target{
    display: flex;
}

.modal-content{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 540px;
    text-align: justify;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    max-height: 80vh;
    overflow-y: auto;
}

.close-btn{
    margin-top: 5%;
    display: inline-block;
    padding:8px 16px;
    background:#dc3545;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}


@media(max-width:675px){
    header .container, .sobre-container{
        flex-direction: column;
        text-align: center;
    }
    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }

    .banner{
        margin-top: 120px;
    }

    
    section{
        scroll-margin-top: 200px;
    }

    .modal{
        margin-top: 100px;
    }

    .modal-content{
        max-height: 50vh;
    }
   
}